/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin-top: 5px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.btn-all {
	font-family: 'Syne';
	padding-left: 21%;
	display: flex;
	margin: 50px;
}

.btnC {
	height: 40px;
	width: 170px;
	border-radius: 50px;
	background-color: white;
	border-color: #1D6154;
	color: #1D6154;
	margin: 5px;
	font-family: 'Syne';
}

.btnC:hover {
	background-color: #1D6154;
	color: white;
}

.fa-regular.fa-pen-to-square {
	font-size: 40px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.login-home-admin {
	text-decoration: none;
	color: black;
}

.gallery img {
	width: 100%;
	height: 500px; /* image acceuil */
	object-fit: cover;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* CSS LOGIN*/

.login-gras {
    font-weight: bold;
}

.login-couleur {
	background-color: rgb(255, 254, 248);
}

.titre-login{
	font-family: 'Syne';
	margin-right: 50%;
}

.login-all {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-top:10%;
	margin-left: 30%;
}

.login-all label {
	display: flex;
	justify-content: left;
	margin-top:5%;
	font-family: 'Syne';
}

.login-all input {
	border: none; 
	background-color: rgb(255, 255, 255);
	width: 379px;
	height: 51px;
	margin-top: 1%;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.connexion {
	height: 40px;
	width: 200px;
	border-radius: 50px;
	background-color: white;
	border-color: #1D6154;
	color: #1D6154;
	margin-top: 5%;
	font-family: 'Syne';
	margin-left: 12%;
}

.connexion:hover {
	color: white;
	background-color: #1D6154;
}

.login-all a {
	color: black;
	margin-right: 50%;
	margin-top: 3%;
	font-family: 'Syne';
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.fa-regular.fa-pen-to-square {
    font-size: 1.5vw;
    margin-left: 30px;
	margin-top: 20px;
}

.btn-modifier {
	margin-left: 65px;
}


/* Parie Admin et Home */

.section-home {
	display: block;
}

 .section-admin {
	display: none;
} 


/* Bande Admin */

.bande-admin {
	display: none;
	position: absolute;
	background: black;
	top: -5px;
	height: 40px;
	right: 0px;
	width: 100%;
}

.bande-admin-texte {
	display: flex;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.bande-admin-texte p {
	margin-left: 5px;
}

/* Modal */

 .textmodal-modification {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.fa-regular.fa-pen-to-square { 
	margin-bottom: 25px;
}

.css-modifier-login {
	display:flex;
	justify-content: center;
	align-items: center;
}

.modification {
	margin-left: 15px;
    font-weight: 500;
	font-size: 1.2rem; 
} 

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.hidden {
	display: none;
}

.modal {
	position: fixed;
    top: 0;
    left: 30%;
	width: 600px;
	height: 500px; 
	z-index: 2;
}
  
.modal-contenu{
	background-color: rgb(255, 255, 255);
	padding: 20px;
	width: 600px;
	height: 590px;
	border-radius: 8px;
}

.modal-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px;  
	padding-left: 10%;
	padding-right: 10%;
}


.modal-image img {
	width:100%;
	height: 110px;  /* image modal*/
	object-fit: cover;
}

.fa-solid.fa-trash-can {
	position: absolute;
	width: 18px; 
	height: 20px;
	margin-top: 15px;
	margin-left: -25px;
	color: rgb(255, 255, 255); 
}

.border {
	position: absolute;
	bottom: -49px;
	left: 80px;
	border-top: 2px solid;
	height: 20px;
	width: 80%;
	color: #B3B3B3
}

.icon-background {
	background-color: black;
    border-radius: 2px;
	padding-top: 5px;
	padding-left: 2px;
}

.modal h2 {
	display: flex;
	align-items: center;
	justify-content: center;
    padding-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: black;
} 
    
.btn-close {
   position: absolute;
   right: 0;
   top: 36px;
   font-size: 1.5vw;
   font-weight: bold;
   cursor: pointer;
}

.btn-ajout {
	position: absolute;
    top: 560px;
	left: 35%;
	z-index: 990;
	height: 40px;
	width: 250px;
	border-radius: 50px;
	color: white;
	border: none;
	background-color: #1D6154;
	margin: 5px;
	font-family: 'Syne';
}

/*  Modal Ajout  */

.new-modal-contenu {
	background-color: rgb(255, 255, 255);
	padding: 20px;
	width: 600px;
	height: 590px;
	border-radius: 8px;
	z-index: 3;
}

.btn-close2 {
	position: absolute;
	right: 0;
	top: 36px;
	font-size: 1.5vw;
	font-weight: bold;
	cursor: pointer;
 }

.border2 {
	position: absolute;
	bottom: -60px;
	left: 140px;
	border-top: 2px solid;
	height: 20px;
	width: 67%;
	color: #B3B3B3
}

.css-image-all {
	display: flex;
	justify-content: center;
	height: 220px;
	background-color: #E8F1F6;
	width: 400px;
}

.css-image-all input {
	display: none;
}

.img-fond {
    width: 90px;
    height:90px;
	margin-top: 3%;
}
.img-choisi {
    width: 200px;
    height:220px;
	margin-top: 0;
	z-index: 3;
	object-fit: cover;
}

.btn-ajout-image {
	position: absolute;
    top: 210px;
	height: 40px;
	width: 250px;
	border-radius: 50px;
	color: #306685;
	border: none;
	background-color: #cbd6dc;
	font-family: 'Syne';
}

.text-ajout-image {
	font-size: 1rem;
    padding-left:19%;
	padding-top: 4%;
}

.sousT {
	position: absolute;
	bottom:185px;
}
.all-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top:4%;
	margin-left: 20%;
}

.all-form label {
	display: flex;
	margin-top:4%;
	font-weight: 400;
	width: 200px;
}

.css-titre {
	margin-top: 3%;
}

.all-form input {
	border: none; 
	background-color: rgb(255, 255, 255);
	width: 400px;
	height: 41px;
	margin-top: 1%;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.all-form select {
	border: none; 
	background-color: rgb(255, 255, 255);
	width: 400px;
	height: 41px;
	margin-top: 1%;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-return {
	position: absolute;
	left: 5;
	top: 26px;
	font-size: 2.5vw;
	font-weight: bold;
	cursor: pointer;
 }



